{$DOMAIN::80} {
    # Hono Backend API & WebSocket
    handle /v1/* {
        reverse_proxy server:3001
    }

    handle /healthz {
        reverse_proxy server:3001
    }

    # Frontend Web UI
    handle {
        reverse_proxy web:3000
    }
}
